<h1>Albums</h1>
<h1>New Vinyl Records</h1>
<%= image_tag "vinyl.png" %>
<% if @albums.any? %>
  <ul>
    <% @albums.each do |album| %>
      <li><%= link_to album.name, album_path(album) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no albums yet.</p>
<% end %>


<p><%= link_to "Create new album", new_album_path %></p>
